<div>
  <div class="containerForm">

      <h1>Creá un producto nuevo</h1>
      <input type="text" placeholder="Título" name="productTitle" id="productTitle" required/>
      <br>
      <br>
      <input type="text" placeholder="Descripción" name="productDescription" id="productDescription" />
      <br>
      <br>
      <input type="number" placeholder="Precio" name="productPrice" id="productPrice" />
      <br>
      <br>
      <input type="text" placeholder="thumbnail" name="productThumbnail" id="productThumbnail" />
      <br>
      <br>
      <input type="number" placeholder="Código" name="productCode" id="productCode" />
      <br>
      <br>
      <input type="number" placeholder="Stock" name="productStock" id="productStock" />
      <br>
      <br>
      <input type="text" placeholder="Categoría" name="productCategory" id="productCategory" />
      <br>
      <br>
      <button id="addProduct" >Enviar</button>
   
  </div>
</div>

<script src="/js/products.js"></script>