<div style="background:rgb(80, 206, 76);color:white;padding:10px">Bienvenido {{this.email}}</div>
<h1>Sesión actual</h1>
<br/>
<ul>
  <li>Nombre: {{this.fullname}}</li>
  <li>Email: {{this.email}}</li>
  <li>Última Sesión: {{this.last_connection}}</li>
</ul>
<script src="/js/products.js"></script>