<h1>Olvidate tu  contraseña?</h1>

<div>
    <form method="post" action="/api/sessions/forgot-password">
        <input type="text" placeholder="correo" name="email"/>
        <br/><br/>
        <button type="submit">Enviar link</button>
    </form>
</div>