<h1>Login</h1>

<div>
    <form method="post" action="/api/sessions/login">
        <input type="text" placeholder="correo" name="email"/>
        <br/>
        <input type="password" placeholder="contrasena" name="password"/>
        <br/>
        <button type="submit">Iniciar sesion</button>
    </form>
</div>
<br/>
<a href="/api/sessions/github">
    <button type="button">Entar con github</button>
</a>